.gpt3--features {
  display: flex;
  justify-content: space-between;
}
.features-heading {
  flex: 1;
  display: flex;

  flex-direction: column;
  width: 500px;
  text-align: left;
  margin-right: 5rem;
}

.features-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 2;
}

.features-container .gpt3--features-container--feature {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */

  align-items: flex-start;
  flex-direction: row;

  margin: 1rem;
}
.features-heading h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
}
.features-heading p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ff8a71;
  margin-top: 2rem;
}

.features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 990px) {
  .gpt3--features {
    flex-direction: column;
  }
  .features-heading {
    margin: 0 0 2rem 0;
  }
}
@media screen and (max-width: 700px) {
  .features-heading h1 {
    font-size: 32px;
    line-height: 38px;
    max-width: 420px;
  }
}
@media screen and (max-width: 550px) {
  .features-heading h1 {
    font-size: 25px;
    line-height: 38px;
    max-width: 380px;
  }
}
